<div class="card">
  <div class="card-block">
    <%= gravatar_for message.get_user(@conversation) %>
    <small class="text-muted"><%= message.get_user(@conversation).name %>
      says
    </small><br>
    <div class="card-text mt-1"><%= message.body %></div>
  </div>
</div>
