<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-xs-2">
        <%= gravatar_for message.user %>
      </div>
      <span class="text-muted"><%= message.user.name %> says</span><br>
      <%= message.body %>
    </div>
  </div>
</div>
