<%= link_to conversation do%>
  <div class="card">
    <div class="card-block">
      <div class="row">
        <div class="col-md-1">
          <%= gravatar_for other_user(conversation) %>
        </div>
        <div class="col-md-11">
          <p class="card-text">
            <strong><%= other_user(conversation).name %></strong><br>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
