$purple-primary: #612D7B;
$purple-highlight: #B39CD0;
$purple-highlight-rgba: rgba(179, 156, 208, 1);
$purple-background: rgba(179, 156, 208, .1);
$purple-icon: #845EC2;

$success: #00C371;
$success-accent: #6D9B7C;

$primary: $purple-primary;
$font-family-base: 'Muli', sans-serif;

@import "bootstrap";

body {
  font-family: $font-family-base;
  font-size: 16px;
  color: $primary;
}

a {
  * {
    color: $primary
  }
}

.btn-underline {
  box-sizing: border-box;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $purple-highlight;
  background: none;

  &-menu {
    height: 52px;
  }

  &:hover {
    border-bottom: 2px solid $purple-icon;
  }

  &.active {
    border-bottom: 2px solid $purple-icon;
  }
}

.btn-success {
  color: $white;
  border: none;
  border-bottom: 2px solid $success-accent;
}

.btn-clear {
  background: none;
  padding: 0;
}

.textarea {
  background: $purple-background;
  border: none;
  border-image: none;
  padding: 8px;
  border-bottom: 1px solid $purple-highlight;

  &::placeholder {
    color: $purple-highlight;
  }
}

.avatar {
  width: 36px;
  border-radius: 50%;

  &-lg {
    width: 42px;
  }

  &-sm  {
    width: 24px;
  }
}

.card {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $purple-highlight;
  background-color: $purple-background;

  &-body {
    padding: 12px 8px;
  }
}
