<!DOCTYPE html>
<html>
  <head>
    <title>CableChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded">

      <a class="navbar-brand" href="#">MessRb</a>

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/conversations">Chats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Friends</a>
        </li>
      </ul>

    </nav>

    <%= yield %>

  </body>
</html>
